* {
    font-family: Arial;
}

div {
    color: white;
}

body {
    background-color: black;
}

#map {
    height: 80vh;
    width: 100%;
}

button {
    border-radius: 12px;
    border: white 1px solid;
}



.ativado {
    background: green;
    color: white;
}
.desativado {
    background: red;
    color: white;
}

.poput button {
    margin: 4px;
}