* {
    font-family: Arial;
}

.topbar div {
    color: white;
}

body {
    background: linear-gradient(180deg, #0f172a, #071028);
}

.p, label{
    font-size: 2.2vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

#map {
    height: 77vh;
    width: 100%;
}
@media screen and (max-width:600px) {
    #map {
        height: 70vh;
    }
    button {
        font-size: 2vh;
        height: 6vh;
        font-weight: bold;
    }
    .leaflet-popup-close-button {
        font-size: 28px;
        width: 32px;
        height: 32px;
        line-height: 32px;
    }

    .leaflet-popup-content {
        font-size: 2.4vh;
    }

    .leaflet-popup-content p,
    .leaflet-popup-content span {
        font-size: 2.4vh;
    }
} @media screen and(min-width:600px){
    button{
    height: 3.5vh;
}
}

.btn-index {
    background: white;
    padding: 0px 1vh 0 1vh;
    border-radius: 12px;
    border: solid 1px white;
}

.active {
    border: 1px white solid;
    background: black;
    color: white;
}

.ativado {
    background: green;
    color: white;
}
.desativado {
    background: red;
    color: white;
}

.popup button {
    margin: 4px;
}

#cancelar {
    border-radius: 12px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(24, 127, 245);
    color: rgb(24, 127, 245);
}
#confirmar {
    border-radius: 12px;
    background: rgb(24, 127, 245);
    color: white;
    border: 0px;
}